.capso-comments {
    background: $capso-comments__bg-color;
    border-color: $capso-comments__border-color;

    .comment-author-fullname {
        color:inherit;
    }
    .comment {
        border-color: $capso-comments__comment-border-color;
    }
    .comment-date-created {
        color: $capso-comments__comment-date-created-color;
    }
    .comment-delete-button {
        color: $capso-comments__comment-delete-button-color;
    }
    .add-comment-textarea {
        border-color: $capso-comments__add-comment-textarea-border; 
    }
}