
$capso-comments__user-image-x-y-length: 35px;
$capso-comments__add-comment-button-width: 150px;
$capso-comments__add-comment-textarea-container-left-padding: $capso-comments__user-image-x-y-length + 10px;
$capso-comments__add-comment-textarea-container-right-padding: $capso-comments__add-comment-button-width + 10px;


.capso-comments {
    padding:2em;
    border: 1px solid;
    border-radius:0.5em;
    
    .add-comment {
        position: relative;
    }
    .add-comment-textarea-container {
        display: inline-block;
        width: 100%;
        padding: 0 $capso-comments__add-comment-textarea-container-right-padding 0 $capso-comments__add-comment-textarea-container-left-padding;
    }
    .add-comment-textarea {
        display: inline-block;
        border: 1px solid; 
        border-radius: 0.3em;
        padding: 0.5em;
        width:100%;
        margin-right: $capso-comments__add-comment-button-width;
        width:100%;
    }
    .add-comment-button {
        position:absolute;
        right:0;
        top:0;
        width: $capso-comments__add-comment-button-width;
    }

    .comment {
        &:first-child {
            margin-top:1.5em;
        }
        position:relative;
        border-top:1px solid;
    }
    .add-comment-user-img,
    .comment-author-img {
        position:absolute;
        width:$capso-comments__user-image-x-y-length;
        height:$capso-comments__user-image-x-y-length;
        border-radius:50%;
        position:absolute;
        left:0;
        top:0;

        &:hover {
            cursor:pointer;
        }
    }
    .comment-author-img {
        margin-top:1em;
    }
    .comment-body {
        padding:0.8em 0;
        padding-left: $capso-comments__add-comment-textarea-container-left-padding;
        padding-right: $capso-comments__add-comment-textarea-container-left-padding;
    }
    .comment-author-fullname {
        font-weight: bold;
        font-size:105%;
    }
    .comment-text {
        margin:0;
    }


    .is-loading-message-container,
    .failed-to-save-comment-message {
        padding:20px 50px;
    }
    .comment-delete-button {
        float:right;
        font-size:1.5em;
        font-weight: 400;
    }
    .comment-is-deleting-message-container,
    .comment-deletion-error {
        position:absolute;
        right:40px;
        top:10px;
    }
}

