<div class="test-overview-view">


    <header>
        <img src="images/logo/logo.png">
        <h1>Welcome to Capso</h1>
        <p><b>Role:</b> Frontend Developer</p>
    </header>


    <main>
        <section>
            <h2>Introduction</h2>
            <p>This project is designed to resemble our development environment with some realistic dummy data.</p>
            <p>Please take this opportunity to freely interpret the requirements and implement a solution that best communicates your abilities.</p>
            <p>NOTE: We do not have a designer on the team at this point in time, and so responsibility for sensible design decision making lies with our front-end developers.</p>
        </section>

        <section>
            <h2>Context</h2>
            <ul>
                <li><p>Each bankruptcy court case is like a war, between the company in bankruptcy and it's creditors. The company wants to survive the bankruptcy in one piece. But the creditors want their money back and they will try to shut the company down if they think they can recover their money. The judge wants to help both succeed, and acts as an intermediary to resolve the disputes.</p>
                <p>Every court case, just like every war, consists of a series of battles. <br/></p>
                    <ul>
                        <li>
                            <p>Each battle starts with the submission of a filing to the court, a <span class="filing-type">Motion</span>. This first filing is special, it defines the context of the battle. When either the company in bankruptcy or a creditor asks the court for something, the request is submitted in the form of a <span class="filing-type">Motion</span>. For example, lets say the company in bankruptcy knows they can pull themselves out of bankruptcy if they can only protect their factory from being shut down, and so they file a <span class="filing-type">Motion</span>, asking the court for protection. 
                            </p>
                        </li>
                        <li>Following the first <span class="filing-type">Motion</span>, there may be a series of other documents filed by the company in bankruptcy or their creditors, filings of type:
                            <ul>
                                <li><span class="filing-type">Motion</span>: amendments to the first motion</li>
                                <li><span class="filing-type">Objection</span>: The creditor might decide that even with the factory, the company has little chance for a successful turnaround. And so they file an <span class="filing-type">Objection</span> asking the court to deny the first <span class="filing-type">Motion</span>, to deny the request to protect the factory. There might be multiple <span class="filing-type">Objection</span>s</li>
                                <li><span class="filing-type">Order</span>: a decision made by the court or judge. For example, the judge might decide that yes, the company has a great chance of a successful turnaround if they maintain control of their factory. There might be multiple <span class="filing-type">Order</span>s</li>
                                <li><span class="filing-type">Notice</span>: less important documents</li>
                                <li><span class="filing-type">Other</span> less important documents</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>

        <section>
            <h2>Project Tasks</h2>

            <ul>
                <li><b>MUST:</b> create view(s) for a bankruptcy battle with the available dummy data.
                    <ul>
                        <li>Overview of all battle filings: <br/><em>dummy-data/json/court-battle__filings.json</em></li>
                        <li>Complete details for the source motion (which starts the battle):<br/><em>/dummy-data/json/motion-24.json</em></li>
                        <li>Complete details for an objection: <br/><em>/dummy-data/json/objection-2.json</em></li>
                        <li>Complete details for an order: <br/><em>/dummy-data/json/order-4186.json</em></li>
                        <li>Lets pretend the API responds without data for the other filings in the battle</li>
                    </ul>
                    <p>Keep in mind that the user may want to navigate from another part of the app directly to the details for a particular filing.</p>
                <li><b>SHOULD:</b> demonstrate that you can test your implementation with Protractor</li>
                <li><b>SHOULD:</b> test <em>shared-directives/capso-comments</em> with your framework of choice. 
                    <br/>
                    We use <a href="http://jasmine.github.io/" target="_blank">Jasmine</a>
                </li>
            </ul>
        </section>

        <section>
            <h2><em>motion-24.json</em>, <em>objection-2.json</em>, <em>order-4186.json</em> property descriptions</h2>
            <p>This json file represents a filing (court document) submitted to the court for a bankruptcy court case.</p>
            <ul class="api-response-properties">
                <li>


<p><b>"filingParties"</b> Multiple companies/committees can collaborate with multiple law firms and lawyers when filing a document</p>
<pre>
"filingParties":[{
    "class":"Represent",
    "id":188946,"roleInCase":"Represent",
    "company":{
        "id":1079802,"legalName":"Delia*s Inc.",
        "class":"Company",
        "companyTags":[]
    },
    "firm":{
        "id":769136,"legalName":"DLA Piper LLP (US)",
        "class":"Firm",
        "companyTags":["Firm"]
    },
    "person":{
        "class":"Lawyer",
        "id":2085799,"forenames":"Arkady A",
        "surname":"Goldinstein",
        "profileImage":null
    },
    "committee":null
}],
</pre>


                </li>
                <li>


<p><b>"arguments"</b>, standards and citations from other cases or court filings are referenced by lawyers to add weight their communications with the court</p>
<pre>
"arguments":[{
    "name":"Entering Into the DIP Documents is an Exercise of the Debtors' Sound Business Judgment",
    "id":1,"class":"LegalArgument",
    "standards":[{
        "name":"Sound Business Judgment",
        "id":30,"class":"LegalStandard",
        "cites":[{
            "name":"Ames Dep't Stores, Inc., [115 B.R. 34] (Bankr. S.D.N.Y. 1990)",
            "id":2,
            "class":"Cite"
        },{
            "name":"Barbara K. Enters., Inc., Case No. 08-11474, 2008 WL 2439649 (Bankr. S.D.N.Y. June 16, 2008)",
            "id":1,"class":"Cite"
        }]
    }],
    "status":"Pending"
}],
</pre>


                </li>
                <li>


<p><b>"caseName"</b> representing the court case for the current filing</p>
<pre>
{
    "caseName":{
        "class":"Petition",
        "id":4934,
        "CaseName":"Delia*s Inc.",
        "debtorId":1079802
    },
}
</pre>


                </li>
                <li>


<p><b>"file"</b> link to the document PDF</p>
<pre>
"file":"/dummy-data/json/sample-1.pdf",
</pre>


                </li>
                <li>


<p><b>"docketNumber"</b> If 32 documents have been filed for a court case, the docket number indicates the sequence in which the filings were filed. 14 would be the 14th document filed for the current court case.</p>
<pre>
"docketNumber":14,
</pre>


                </li>
                <li>


<p><b>"filingType"</b> and <b>"id"</b> Together, these uniquely identify a court filing.</p>
<pre>
"filingType":"Order",
"id":21
</pre>


                </li>
            </ul>
        </section>
        <section>

            <h2><em>court-battle__filings.json</em> property descriptions</h2>
            <p>This json file represents a brief overview of all of the filings that feature in a battle. It includes <span class="filing-type">Motion</span>s, <span class="filing-type">Objection</span>s, <span class="filing-type">Order</span>s, <span class="filing-type">Notice</span>s, and <span class="filing-type">Other</span> filings.</p>
            <ul class="api-response-properties">
                <li>
                <p>the <b>"filingCompany", "filingFirm", "filingLawyers"</b> are simply a grouping of the filing parties for each filing, by type. This data can also be found in the dummy data for each individual filing represented instead with the <b>"filingParties"</b> property</p>
<pre>
"filingCompany":[  
   {  
      "legalName":"Delia*s Inc.",
      "id":1079802,
      "class":"Company"
   }
],
"filingFirm":[  
   {  
      "legalName":"DLA Piper LLP (US)",
      "id":769136
   }
],
"filingLawyers":[  
   {  
      "forenames":"Arkady A",
      "surname":"Goldinstein",
      "id":2085799
   },
   {  
      "forenames":"Dienna",
      "surname":"Corrado",
      "id":2103932
   },
   {  
      "forenames":"Gregg M",
      "surname":"Galardi",
      "id":2072942
   }
],
</pre>
                </li>
            </ul>
        </section>

        <section>
            <h2>Browser Requirements</h2>
            <ul>
                <li>Chrome 48 </li>
                <li>Safari 9 </li>
                <li>IE 11 </li>
                <li>Firefox 44 </li>
                <li>Chrome 47 </li>
                <li>Safari 8 </li>
                <li>Chrome 38 </li>
                <li>Firefox 43</li>
            </ul>
        </section>

        <section>
            <h2>Helpful links</h2>
            <h3>Technical</h3>
            <ul>
                <li><a href="https://github.com/johnpapa/angular-styleguide" target="_blank">Angular Styleguide</a></li>
                <li><a href="https://github.com/angular-ui/ui-router/wiki" target="_blank">Angular UI Router</a></li>
                <li><a href="https://github.com/airbnb/javascript/tree/master/es5" target="_blank">Airbnb JS Styleguide</a></li>
                <li><a href="http://jasmine.github.io/" target="_blank">Jasmine</a></li>
                <li><a href="http://www.protractortest.org/#/" target="_blank">Protractor</a></li>
            </ul>
        </section>

        <section>
            <h2>Evaluation Criteria</h2>
            <h3>Core:</h3>
            <ul>
                <li>Code style</li>
                <li>Cross-browser support</li>
                <li>Use of best practices</li>
                <li>Minimal UX/UI design skills</li>
            </ul>
            <h3>Major Bonus Points:</h3>
            <ol>
                <li>Unit testing with a framework of your choice.</li>
                <li>End-to-end testing with <a href="http://www.protractortest.org/#/" target="_blank">Protractor</a>.</li>
                <li>Use of reusable components to reduce duplicate code</li>
            </ol>
        </section>

        <section>
            <h2>Your Submission</h2>
            <p>When you're happy, create a pull request from the Bitbucket account we provided to you.</p>
        </section>
        
    </main>


    <footer>
        <p>This project requirement is a work-in-progress. If you have any questions or feedback, please don't hesitate to reach out. dmccarthy@capso.com</p>
    </footer>
        

</div>
